<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from uselooper.com/auth-signin-v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Dec 2018 13:09:10 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- End Required meta tags -->
    <!-- Begin SEO tag -->
    <title> Sign In My leaves</title>
    <meta property="og:title" content="Sign In">
    <meta name="author" content="Hassen Mohamed">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Responsive admin theme build on top of Bootstrap 4">
    <meta property="og:description" content="Responsive admin theme build on top of Bootstrap 4">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="Looper - Bootstrap 4 Admin Theme">
    <link rel="shortcut icon" href="assets/favicon.ico">
    <meta name="theme-color" content="#3063A0"><!-- Google font -->
    <link rel="stylesheet" href="{{ asset('vendors/fontawesome/css/all.css') }}"><!-- END PLUGINS STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="{{ asset('vendors/fontawesome/css/theme.min.css') }}" data-skin="default">
    {% block stylesheets %}
        {{ encore_entry_link_tags('appcss') }}
        {{ encore_entry_link_tags('bootstrap') }}
        {{ encore_entry_link_tags('custom') }}
        {{ encore_entry_link_tags('tabcss') }}
    {% endblock %}

</head>
<body>

<main class="auth auth-floated">
    <section id="announcement" class="auth-announcement" style="background-image: url({{ asset('img/img-5.png') }});">
        <div class="announcement-body">
            <h2 class="announcement-title"> How to Prepare for an Automated Future </h2><a href="#!" class="btn btn-warning"><i class="fa fa-fw fa-angle-right"></i> Check Out Now</a>
        </div>
    </section>
    {% block content %}

    {% endblock %}
</main><!-- /.auth -->
<script src="{{ asset('js/home.js')}}" type="text/javascript"></script>
<script src="{{ asset('vendors/toolbar/js/jquery.toolbar.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/custom_js/tabs_accordions.js')}}" type="text/javascript"></script>
</body>
</html>